body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    max-width: 80%;
    background: #f0f0f0;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
}